<div class="book-page">
    <h1>{{book.titulo}}</h1>
    <a href="/books/delbook/{{book.idbooks}}" class="menu">Apagar</a>
    <a href="/books/updatebook/{{book.idbooks}}" class="menu">Editar</a>
    <a href="/" class="menu">Voltar</a>
</div>